/* Some basic CSS to make the MIDI controls in abcjs presentable. */

.abcjs-inline-midi {
  display: none !important;
  height: 26px;
  padding: 2px 5px;
  border-radius: 3px;
  color: #f4f4f4;
  background-color: #424242;
  display: flex;
}

.abcjs-inline-midi .abcjs-btn {
  width: 28px;
  height: 26px;
  display: inline-block;
  margin-right: 2px;
  float: left;
  padding: 0;

  background: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f4f4f4;
  border: 1px solid transparent;
}

.overall-container {
  display: flex;
  flex-direction: row;
  height: 350px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.dropdownchord1 {
  order: 1;
  margin-left: 113px;
  margin-top: 70px;
}

.dropdownchord2 {
  order: 2;
  margin-left: 113px;
  margin-top: 20px;
}

.submitbuttonchord {
  order: 3;
  margin-left: 113px;
  margin-top: 90px;
}

.dropdowninterval1 {
  order: 1;
  margin-left: 113px;
  margin-top: 50px;
}

.dropdowninterval2 {
  order: 2;
  margin-left: 113px;
  margin-top: 20px;
}

.dropdowninterval3 {
  order: 3;
  margin-left: 113px;
  margin-top: 20px;
}

.submitbuttoninterval {
  order: 4;
  margin-left: 113px;
  margin-top: 37px;
}

.playbutton {
  margin-left: 163px;
}

.playbuttonSound {
  margin-left: 163px;
  margin-top: 147px;
}

.overall-container-two {
  display: flex;
  flex-wrap: wrap;
}

.scaleDropdown1 {
  order: 2;
  margin-left: 50px;
  margin-top: 20px;
}

.scaleDropdown2 {
  order: 3;
  margin-left: 50px;
  margin-top: 20px;
}

.scaleSubmitbutton {
  order: 4;
  margin-left: 50px;
  margin-top: 20px;
}

.scalePlayButton {
  order: 1;
  margin-left: 50px;
  margin-top: 10px;
}
