/* Some basic CSS to make the MIDI controls in abcjs presentable. */

.abcjs-inline-midi {
  display: none !important;
}

.react-piano {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Flex on mobile environments (viewport below 1200px) */
.overall-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: stretch;
  padding: 10px;
}

.select-bar {
  flex-direction: row;
}

.playButton {
  order: 0;
}

.emptyPlayButton {
  order: 0;
  margin: 0rem 1rem;
}

/* Hide pseudo element that spaces play button when the buttons collapse to 2 rows */
@media only screen and (max-width: 1200px) {
  .overall-container {
    padding-top: 25px;
  }

  .emptyPlayButton {
    display: none;
  }
}

/* Use hardcoded margins on desktop environments */
@media only screen and (min-width: 1200px) {
  .overall-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    align-content: unset;
  }

  .select-bar {
    flex-direction: unset;
  }

  .playButton {
    order: 1;
    margin-left: 50px;
    margin-top: 17px;
  }

  .emptyPlayButton {
    order: 1;
    margin-left: 70px;
    margin-top: 17px;
  }

  .dropDown1 {
    order: 2;
    margin-left: 60px;
    margin-top: 20px;
  }

  .dropDown2 {
    order: 3;
    margin-left: 50px;
    margin-top: 20px;
  }

  .submitButton {
    order: 4;
    margin-left: 116px;
    margin-top: 20px;
  }

  .submitButtonPiano {
    order: 4;
    margin-left: 150px;
    margin-top: 20px;
  }

  .playButtonSheet {
    text-align: center;
  }
}
